<div xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout=http:www.ultraq.net.nz/thymeleaf/layout
	  layout:decorate="~{fragments/layout1}">
	  
	  
	<div layout:fragment="content">
		
		
		  <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
      <div class="container">
        <div class="row flex-center">
          <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3">

            <div class="text-center">
              <h3 class="text-1000">Sign In</h3>
              <p class="text-700">Get access to your account</p>
            </div>
			<a href="javascript:kakaoLogin()" class="btn btn-phoenix-secondary w-100 mb-3"><span class="fab fa-google text-danger me-2 fs--1"></span>카카오 로그인</a>
            <button class="btn btn-phoenix-secondary w-100"><span class="fab fa-facebook text-primary me-2 fs--1"></span>Sign in with facebook</button>
            <div class="position-relative">
              <hr class="bg-200 mt-5 mb-4" />
              <div class="divider-content-center">or use email</div>
            </div>
<form th:action="@{/login}" th:object="${member}" method="post">
           <div class="mb-3 text-start">
              <label class="form-label" for="email">아이디</label>
              <div class="form-icon-container">
                <input class="form-control form-icon-input" name="username" type="email" placeholder="name@example.com" /><span class="fas fa-user text-900 fs--1 form-icon"></span>
              </div>
            </div>
            <div class="mb-3 text-start">
              <label class="form-label" for="password">암호</label>
              <div class="form-icon-container">
                <input class="form-control form-icon-input" name="password" type="password" placeholder="Password" /><span class="fas fa-key text-900 fs--1 form-icon"></span>
              </div>
            </div>
            <div class="row flex-between-center mb-7">
              <div class="col-auto">
                <div class="form-check mb-0">
                  <input class="form-check-input" id="basic-checkbox" type="checkbox" checked="checked" />
                  <label class="form-check-label mb-0" for="basic-checkbox">Remember me</label>
                </div>
              </div>
              <div class="col-auto"><a class="fs--1 fw-semi-bold" href="../../../pages/authentication/simple/forgot-password.html">Forgot Password?</a></div>
            </div>
            <button class="btn btn-primary w-100 mb-3">로그인</button>
                  </form>

            <div class="text-center"><a class="fs--1 fw-bold" href="../../../pages/authentication/simple/sign-up.html">Create an account</a></div>
          </div>
        </div>
      </div>
    
		
		<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>

//발급 받은 키
Kakao.init("9eda72310d10e70186b843a0809cac6c");

function kakaoLogin() {
	window.Kakao.Auth.login({
		// 개발자 사이트에서 체크한 항목들과 반드시 일치해야 한다. 
		scope:'profile_nickname, account_email, gender',
		success: function (authObj) {window.Kakao.API.request({url:'/v2/user/me',
			success:res => {const kakaoAccount = res.kakao_account;
				location.href='/logincheck?email=' + kakaoAccount.email;}
		});
	}
});
}

</script>
		
		
		
		
		
		  <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="../../../vendors/popper/popper.min.js"></script>
    <script src="../../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../../../vendors/anchorjs/anchor.min.js"></script>
    <script src="../../../vendors/is/is.min.js"></script>
    <script src="../../../vendors/fontawesome/all.min.js"></script>
    <script src="../../../vendors/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="../../../vendors/list.js/list.min.js"></script>
    <script src="../../../vendors/feather-icons/feather.min.js"></script>
    <script src="../../../vendors/dayjs/dayjs.min.js"></script>
    <script src="../../../assets/js/phoenix.js"></script>
    <script src="../../../vendors/swiper/swiper-bundle.min.js"></script>
		
	</div>