<html xmlns:th="http://www.thymeleaf.org">
	  

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Phoenix</title>


</head>
<body>

<div th:replace="fragments/header::header"></div>

	<div layout:fragment="content">
		
		
	</div>

<div th:replace="fragments/footer::footer"></div>


</body>
</html>