<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1> 공지사항 등록</h1>
<form action="/notice/create" method="post">
	<p><input type="text" name="title"></p>
	<p><input type="text" name="content"></p>
	<p><input type="text" name="writer"></p>
	<p><Select name="category">
		<option value="일반">일반공지</option>
		<option value="전체">전체공지</option>
		<option value="긴급">긴급공지</option>
	</Select></p>
	<p><input type="submit" value="등록"></p>
	
	
</form>
</body>
</html>