<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/user/create}" th:object="${user}" method="post">
	<p>아이디 : <input type="text" name="username"></p>
	<p>비번 : <input type="password" name="password"></p>
	<p>성명 : <input type="text" name="name"></p>
	<p>주소 : <input type="text" name="addr"></p>
	<p>우편번호 : <input type="text" name="postcode"></p>
	<p>전화번호 : <input type="text" name="tel"></p>
	<input type="submit" value="등록">
</form>
</body>
</html>